@use "reset";

$color-100: #e0def4;
$color-900: #191724;
$color-800: #1f1d2e;
$color-700: #26233a;
$color-acc: #bf4080;

body {
  position: relative;
  font-family: sans-serif;
  color: $color-100;
  overflow-y: hidden;
}

// slides

.slide {
  height: 100vh;
  height: 100dvh;
  background-color: $color-800;

  header {
    padding: 2rem;
    border-bottom: 2px solid $color-900;
    font-size: 2rem;
    text-align: center;
  }
}

.title {
  color: $color-acc;
  font-size: 10rem;
}

.credits {
  a {
    color: inherit;

    &.link-sass {
      color: $color-acc;
    }

    &.link-fa {
      color: #31748f;
    }

    &.link-theme {
      color: #ebbcba;
    }

    &.link-kahoot {
      color: #9c6ae7;
    }
  }
}

// slide content

.split-in-two {
  display: flex;
  padding: 2rem;

  > * {
    flex: 1;
  }
}

.center {
  display: grid;
  place-items: center;
  padding: 2rem;
}

.scss,
.css,
.sass {
  h2 {
    text-align: center;
  }
}

// slide navigation

@mixin fixed-to-bottom {
  position: fixed;
  bottom: 0;
  padding: 2rem 6rem;
}

%navigation-button {
  z-index: 9999;
  border: 2px solid $color-900;
  background-color: $color-800;
  color: $color-100;
  font-size: 2rem;

  &:hover {
    border-color: $color-acc;
    color: $color-acc;
    cursor: pointer;
  }
}

.next {
  @include fixed-to-bottom;
  @extend %navigation-button;
  right: 0;
}

.back {
  @include fixed-to-bottom;
  @extend %navigation-button;
}

.slide-counter {
  @include fixed-to-bottom;

  z-index: 9998;
  width: 100%;
  border: 2px solid $color-900;
  background-color: $color-800;
  color: $color-100;
  font-size: 2rem;
  text-align: center;
}

// code formatting

pre {
  margin-inline: auto;
  padding: 2rem;
  width: min-content;
  border-radius: 1rem;
  background-color: $color-900;
  font-size: 1.5rem;

  code {
    .text {
      color: $color-100;
    }

    .property {
      color: #908caa;
    }

    .selector {
      color: #c4a7e7;
    }

    .comment {
      color: #6e6a86;
    }

    .punctuation {
      color: #f6c177;
    }

    .parent.important {
      color: #ebbcba;
    }

    .variable {
      color: #eb6f92;
    }

    .keyword,
    .atrule {
      color: #9ccfd8;
    }

    .url,
    .function,
    .atrule-line {
      color: #31748f;
    }

    .string {
      color: #575279;
    }
  }
}
